@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/base/BlobMoji.css");
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/SettingsIcons.css");
@import url("https://chillax-org.github.io/Discolored/main.css");
@import url("https://warrayquipsome.github.io/Chillax/Addons/IconPackEdited.css");
@import url("https://warrayquipsome.github.io/Chillax/Addons/AvatarOnlyMemberList.css");
@import url("https://warrayquipsome.github.io/Chillax/Addons/FolderRedesign.css");
@import url("https://raw.githubusercontent.com/DiscordStyles/RadialStatus/refs/heads/deploy/RadialStatus.css");
@import url("https://warrayquipsome.github.io/Chillax/Addons/FriendGrid.css");
@import url("https://warrayquipsome.github.io/Chillax/Addons/ColoredLinks.css");
@import url("https://blade04208.github.io/css/bettershiki.css");
@import url("https://teeenoob.github.io/themes/vencord/SpotifyEmbed.css");
@import url("https://raw.githubusercontent.com/ZapGaming/Mika-Theme-Components/refs/heads/main/Mika_Intrusive_Vencord_Player.css");
/*@import url("https://raw.githubusercontent.com/ZapGaming/Mika-Theme-Components/refs/heads/main/tabs%20v3.css");*/
@import url("https://raw.githubusercontent.com/yiruzu/vencord-snippets/refs/heads/main/snippets/BubbleUsernames/import.css");
@import url("https://rinlovesyou.github.io/Couve/snippets/couve-profile-popout.css");
@import url("https://raw.githubusercontent.com/ZapGaming/Mika-Theme-Components/refs/heads/main/Mika_User_Popup.css");
@import url("https://raw.githubusercontent.com/ZapGaming/Chillax-But-Better/refs/heads/main/Extras/Icons.css"); 
@import url("https://raw.githubusercontent.com/madmaxgrey/Vertical-Spacious-Refresh/refs/heads/main/vencord/Toggles/Toggles.css");
@import url("https://davart154.github.io/Themes/Snippets/Chat%20Bar%20Upload%20Swap/ChatSwapSource.css");
/*@import url("https://minidiscordthemes.github.io/Snippets/Billboard/main.css");*/
@import url("https://raw.githubusercontent.com/Ragnar-es/css-snippets/refs/heads/main/Compact-Spotify-Player/theme.css")


@import url("https://raw.githubusercontent.com/acheronx0577/Transparent-Code-Block/refs/heads/main/Transparent%20Code%20Block.css");
@import url("https://raw.githubusercontent.com/acheronx0577/Transparent-Mailbox-Popup/refs/heads/main/Transparent%20Popup.css");
/*@import url("https://raw.githubusercontent.com/acheronx0577/Better-Transparent-Gif-Emoji-Sticker-Picker/refs/heads/main/Better-Transparent-Gif-Emoji-Sticker-Picker.css");*/
@import url("https://raw.githubusercontent.com/acheronx0577/Frosted-Nitro-Popup/refs/heads/main/Frosted-Nitro-Popup.css");
@import url("https://raw.githubusercontent.com/acheronx0577/Transparent-Header-and-Bug-Fix/refs/heads/main/Transparent-Header-and-Bug-Fix");
@import url("https://raw.githubusercontent.com/acheronx0577/Transparent-Activity-Discord/refs/heads/main/Transparent%20Activity%20Discord.css");
@import url("https://raw.githubusercontent.com/acheronx0577/Better-Compact-Command-Menu-With-Smooth-Transition/refs/heads/main/Better%20Compact%20Command%20Menu%20With%20Smooth%20Transition.css");
@import url('https://raw.githubusercontent.com/acheronx0577/Transparent-Quick-Switcher-Discord/main/Transparent%20Quick%20Switcher.css');
