@import url("https://raw.githubusercontent.com/ZapGaming/Chillax-But-Better/refs/heads/main/Features.css");
@import url("https://github.com/ZapGaming/Chillax-But-Better/raw/refs/heads/main/Quick-Fixes.css");

@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/base/Microsoft-3D.css");
@import url("https://warrayquipsome.github.io/Chillax/Addons/AvatarOnlyMemberList.css");
@import url("https://warrayquipsome.github.io/Chillax/Addons/FolderRedesign.css");
@import url("https://warrayquipsome.github.io/Chillax/Addons/FriendGrid.css");
@import url("https://warrayquipsome.github.io/Chillax/Addons/ColoredLinks.css");
@import url("https://blade04208.github.io/css/bettershiki.css");
@import url("https://teeenoob.github.io/themes/vencord/SpotifyEmbed.css");
@import url("https://raw.githubusercontent.com/ZapGaming/Mika-Theme-Components/refs/heads/main/Mika_Intrusive_Vencord_Player.css");
@import url("https://raw.githubusercontent.com/yiruzu/vencord-snippets/refs/heads/main/snippets/BubbleUsernames/import.css");
@import url("https://raw.githubusercontent.com/ZapGaming/Mika-Theme-Components/refs/heads/main/Mika_User_Popup.css");
@import url("https://raw.githubusercontent.com/ZapGaming/Chillax-But-Better/refs/heads/main/Extras/Icons.css"); 
@import url("https://raw.githubusercontent.com/madmaxgrey/Vertical-Spacious-Refresh/refs/heads/main/vencord/Toggles/Toggles.css");
@import url("https://davart154.github.io/Themes/Snippets/Chat%20Bar%20Upload%20Swap/ChatSwapSource.css");
@import url("https://raw.githubusercontent.com/Ragnar-es/css-snippets/refs/heads/main/Compact-Spotify-Player/theme.css");
@import url("https://davart154.github.io/Themes/Snippets/Mana%20Page%20Switcher/ManaPageSwitcherSource.css");



