/* all 80px */
.emojiSpriteImage_d982c2[style*='background-image: url("/assets/9d6f7bad0b4786fd.png")'],
.emojiSpriteImage_d982c2[style*='background-image: url("/assets/42a77a907c6518a2.png")'],
.emojiSpriteImage_d982c2[style*='background-image: url("/assets/13d7c7712a8c345d.png")'],
.emojiSpriteImage_d982c2[style*='background-image: url("/assets/7ba098a1f59e8c25.png")'],
.emojiSpriteImage_d982c2[style*='background-image: url("/assets/553d87e518760843.png")'],
.emojiSpriteImage_d982c2[style*='background-image: url("/assets/bce9faa083202df0.png")'] {
	background-image: url("https://github.com/ZapGaming/Chillax-But-Better/blob/main/EmojiReplace/image_2025-12-10_172159882.png?raw=true") !important;
}

/* emoji 80px */
.emojiSpriteImage_d982c2[style*='background-image: url("/assets/668ed2f8f314c3b7.png")'] {
	background-image: url("") !important;
}

/* all 96px */
.emojiSpriteImage_d982c2[style*='background-image: url("/assets/171f2d16082f84d5.png")'],
.emojiSpriteImage_d982c2[style*='background-image: url("/assets/7535d1105d16fc35.png")'],
.emojiSpriteImage_d982c2[style*='background-image: url("/assets/ca543e88dc2834e4.png")'],
.emojiSpriteImage_d982c2[style*='background-image: url("/assets/c4076130da981907.png")'],
.emojiSpriteImage_d982c2[style*='background-image: url("/assets/a16cfca80b060950.png")'],
.emojiSpriteImage_d982c2[style*='background-image: url("/assets/59d8518282b48bdc.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/BlobMoji/dark_96.png") !important;
}

/* emoji 96px */
.emojiSpriteImage_d982c2[style*='background-image: url("/assets/60cbc861ee0baff2.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/BlobMoji/emoji_96.png") !important;
}

/* picker  */
.sprite__04eed {
	background-image: url("https://github.com/ZapGaming/Chillax-But-Better/blob/main/EmojiReplace/generated-emoji-sheet-1765360620870-Photoroom.png?raw=true") !important;
}
