/* Toolbar Relocation */
/* 1. Frosted Glass Elements */
.sidebar__5e434:after {
    display: none;
}

.sidebarList__5e434 {
    margin-bottom: var(--space-xs);
    border-bottom: 1px solid var(--border-subtle);
    border-top-left-radius: 0px;
}

.page__5e434 {
    height: calc(100% - var(--space-xs));
    margin-bottom: var(--space-xs);
    width: calc(100% - var(--space-xs));
    border-radius: 0 var(--radius-md) var(--radius-md) 0;
    backdrop-filter: blur(12px) contrast(0.95);
    border-bottom: 1px solid var(--border-subtle);
    border-right: 1px solid var(--border-subtle);
}


/* 2. Search Bar */
.upperContainer__9293f .toolbar__9293f .search__49676 {

    .searchBar__97492 {
        transition: all ease 0.3s;
        width: 25px; 
        box-sizing: unset;
        cursor: pointer;
        background: none;
        border: none;
        padding: 0;

        .icon__97492 {
            height: 32px;
            width: 32px;
            scale: 1.2;
            cursor: pointer;
            transform: translateX(-3px);
        }
    }

    .focused__97492 .searchBar__97492,
    .open__97492 .searchBar__97492 {
        position: fixed;
        top: calc(var(--custom-app-top-bar-height) + var(--space-xs));
        right: var(--space-md);
        width: 225px;
        box-sizing: border-box;
        cursor: text;
        background: rgba(var(--input-background-rgb, 50, 50, 50), 0);
        backdrop-filter: blur(12px); 
        border: 1px solid var(--input-border);
        padding: 2px 0;

        .icon__97492 {
            height: 24px;
            width: 24px;
            scale: 1;
            cursor: pointer;
            transform: none;
        }
    }
}

/* 3. Repositioned Toolbar Container */
.toolbar__9293f {
    position: fixed;
    left: calc(var(--space-xs) + var(--space-xxs) * 3);
    flex-direction: column;
    bottom: calc(var(--custom-app-panels-height) + 6px + var(--space-md));
    background: rgba(var(--background-base-low-rgb, 0, 0, 0), 0); 
    backdrop-filter: blur(12px) brightness(1.1); 
    border: 1px solid var(--border-faint);
    padding: var(--space-xs);
    border-radius: var(--radius-md);
}
